

<div class="row">
    <div class="col-md-12">
        
                    <form name="picoCatForm">
                         <h3 >Sentence | WordToken | LookupWindowAnnotation | ProcedureMention</h3>
                        <div class="form-group">
                        <article>
                            <textarea name="resumeText" rows="10" cols="100"  >  
                            </textarea>
                        </article>
                            
                        </div>

                        <p class="formValidationError" ng-show="selectedTextField.selectedText.$invalid && selectedTextField.selectedText.$touched">Vous devez selectionner un texte</p>

                        <div class="form-inline">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="population" ng-model="art.annotData.population"> Population</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="intervention" ng-model="art.annotData.intervention"> Intervention</label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="comparison" ng-model="art.annotData.comparison"> Comparison</label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="outcome" ng-model="art.annotData.outcome"> Outcome</label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="background" ng-model="art.annotData.background"> Background</label>
                            </div>

                        </div>


                        <div ng-repeat="id in art.articleIdList">

                            <input type="hidden" require id="articleId" ng-model="art.annotData.Id" ng-init="art.annotData.Id = id.Id">
                        </div>

                        <button type="submit" ng-disabled="selectedTextField.selectedText.$invalid" class="btn btn-primary" style="margin-top:20px" ng-click="art.postAnnotation()">Sauvegarder</button>

                    </form>
    </div>
</div>
 
 
